*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    overflow-x: hidden;
    // font-family: cursive;
}

$color1: #ffffff; 
$color2: #128C7E;
$color3: #075E54;
$color4: #25D366;
$color5: #34B7F1;

